{% extends 'store/layouts/main.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Collections</h1>
            <div class="row">
            {% for items in category  %}
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="category-image">
                                <img src=" {{ items.image.url }} " alt="Category image" />
                            </div>
                            <h4> {{items.name}} </h4>
                        </div>
                    </div>
                </div>           
            {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}