<footer>
    <div class="footer-padding" class="footer-background">
        <div class="container">
            <div class="row justify-content-between" >
                <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle" style="">
                            <h4>Quick Links</h4>
                            <ul style="list-style-type: none; padding:0; margin:0;">
                                <li><a href="about.html">About</a></li>
                                <li><a href="#"> Offers & Discounts</a></li>
                                <li><a href="contact.html">  Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>New Products</h4>
                            <ul style="list-style-type: none; padding:0; margin:0;">
                                <li><a href="women.html">Woman Cloth</a></li>
                                <li><a href="men.html">Men Cloth</a></li>
                                <li><a href="kids.html"> kids Accessories</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Support</h4>
                            <ul style="list-style-type: none; padding:0; margin:0;">
                             <li><a href="faq.html">Frequently Asked Questions</a></li>
                             <li><a href="tnc.html">Terms & Conditions</a></li>
                             <li><a href="pp.html">Privacy Policy</a></li>
                             <li><a href="#">Report a Payment Issue</a></li>
                         </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer bottom -->
        </div>
    </div>
<!-- Footer End-->

</footer>