.navbar-collapse > ul > li:hover ul{
display:block;
}

.footer-background{
background-color: #f7bf50 !important;
} 

*{
text-decoration: none;
}
img{
    display:block;
    max-width:100%;
}
.category-image img {
max-width: 100%;
width: 100% !important;
height: auto !important;
}
.card-body .col-md-4 {
position: relative;
}

a{
text-decoration: none;
}

.product-viewtag {
background-color: red;
color: #fff;
font-size: 11px;
line-height: 1;
position: absolute;
text-align: center;
text-transform: uppercase;
top: 17px;
margin-left: 21.5rem;
padding: 7px 10px;
font-weight: 600;
min-width: 45px;
}
body > div label s {
text-decoration: line-through;
}


.footer-padding {
padding: 20px;
}
.card-body h4 {
text-align: left !important;
margin-top: 10px;
font-size: 20px;
}


.float-start {
text-decoration: line-through;
color: red;
}

.float-end {
color: green;
}
.card-body {
    /* min-height: auto; */
    /* padding: 1rem; */
}

.in-stock {
    align-items: center;
}
.breadcrumb a:first-child {
    margin-left: 8px;
}

.breadcrumb a {
    margin: 0 5px;
}
.signup-padding {
    padding: 20px;
}
